# Create Lagged Sentiment Scores

This program will create a lagged variable that looks at the average sentiment 2 days, 14 days, and one month before an event occurs. At the end the data should have each date be unique, with a lagged variable cooresponding to the number of days lagged.

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
merged_path = "/Users/laurieottehenning/Documents/Georgetown Data Science /Capstone/Merged"
os.chdir(merged_path)
es = pd.read_csv('Merged Events_Sentiment.csv')
es.groupby(['EventID', 'Date']).size().count()

442

In [3]:
# Drop unnamed variable
es = es.drop('Unnamed: 0', 1)

In [4]:
# View data
es = es.sort_values(by='Date', ascending=True)
es.sort_values(by='Date', ascending=True).iloc[1000:1010]

,EventID,Date,EventText,FilterWords,FinalRating,publication,title,length,publicationtype,text,year,month,day,PositiveCount,NegativeCount,tone,_merge
321,3076.0,2011-10-28,"36 people were reported killed in Syria, most ...","border, libya",-1.0,The Frontier Post,Obama: All rhetoric and no substance,891.0,Newspaper,Last Saturday in his radio address to his own ...,2011.0,10.0,28.0,52.0,51.0,0.001122,both
323,3076.0,2011-10-28,"36 people were reported killed in Syria, most ...","border, libya",-1.0,Daily Times (Pk),Afghan president's comments rile US lawmakers,683.0,Newspaper,WASHINGTON Oct 28 The Obama administration sh...,2011.0,10.0,28.0,24.0,46.0,-0.032211,both
320,3076.0,2011-10-28,"36 people were reported killed in Syria, most ...","border, libya",-1.0,Daily The Pak Banker,Karzai's pro-Pakistan comments rile US lawmakers,493.0,Newspaper,KABUL Oct 28 This has been said by lawmakers ...,2011.0,10.0,28.0,17.0,33.0,-0.032454,both
322,3076.0,2011-10-28,"36 people were reported killed in Syria, most ...","border, libya",-1.0,Jerusalem Post,Mission not accomplished,1072.0,Newspaper,Last Friday US President Barack Obama announce...,2011.0,10.0,28.0,55.0,84.0,-0.027052,both
324,3076.0,2011-10-28,"36 people were reported killed in Syria, most ...","border, libya",-1.0,Press Tv,'Iran backs Palestine liberation',253.0,Wire,Irans Foreign Minister Ali Akbar Salehi has re...,2011.0,10.0,28.0,10.0,13.0,-0.011858,both
325,3076.0,2011-10-28,"36 people were reported killed in Syria, most ...","border, libya",-1.0,BBC,Programme summary of Egyptian Nile News TV 160...,397.0,Transcript,0000 News headlines 1 0055 Syrian security for...,2011.0,10.0,28.0,15.0,33.0,-0.045340,both
3123,NaN,2011-10-29,NaN,NaN,NaN,Iranian Government News,'Iran backs Palestine liberation',269.0,Newsletter,The IRIB has issued following news Irans Forei...,2011.0,10.0,29.0,12.0,13.0,-0.003717,right_only
3122,NaN,2011-10-29,NaN,NaN,NaN,The Middle East Reporter (Mer),"IRAQ-U.S., SYRIA",952.0,Newspaper,US Worried About Close SyriaIraq Cooperation T...,2011.0,10.0,29.0,38.0,62.0,-0.025210,right_only
3125,NaN,2011-10-31,NaN,NaN,NaN,BBC,Highlights from UK Arabic press 29 Oct 11,499.0,Transcript,AlHayah Online in Arabic 1 Part 1 of several p...,2011.0,10.0,31.0,15.0,21.0,-0.012024,right_only
3124,NaN,2011-10-31,NaN,NaN,NaN,The Majallah,A Transformation,2803.0,Newspaper,In conversation with eminent Chinese scholars ...,2011.0,10.0,31.0,142.0,111.0,0.011060,right_only

### Average Tone over the past n days

This will create a rolling sum of the tone of the articles over the past n days

In [5]:
es['Date'] = pd.to_datetime(es['Date'])

df1 = es.groupby(['year', 'month']).apply(lambda x: x.set_index('Date').resample('1D').first())

In [6]:
df1.head(4)

                         EventID EventText FilterWords  FinalRating  \
year   month Date
2010.0 1.0   2010-01-03      NaN       NaN         NaN          NaN
             2010-01-04      NaN       NaN         NaN          NaN
             2010-01-05      NaN       NaN         NaN          NaN
             2010-01-06      NaN       NaN         NaN          NaN

                                              publication  \
year   month Date
2010.0 1.0   2010-01-03  The Atlanta Journal-Constitution
             2010-01-04                               BBC
             2010-01-05                               NaN
             2010-01-06                               NaN

                                                                     title  \
year   month Date
2010.0 1.0   2010-01-03          Five pressing questions to answer in 2010
             2010-01-04  Saudi foreign minister says Israel "spoiled ch...
             2010-01-05                                                NaN
             2010-01-06                                                NaN

                         length publicationtype  \
year   month Date
2010.0 1.0   2010-01-03   747.0      Newspapers
             2010-01-04  2196.0      Transcript
             2010-01-05     NaN             NaN
             2010-01-06     NaN             NaN

                                                                      text  \
year   month Date
2010.0 1.0   2010-01-03  Will President Barack Obama regain his momentu...
             2010-01-04  Text of report by Saudiowned leading panArab d...
             2010-01-05                                                NaN
             2010-01-06                                                NaN

                           year  month  day  PositiveCount  NegativeCount  \
year   month Date
2010.0 1.0   2010-01-03  2010.0    1.0  3.0           45.0           60.0
             2010-01-04  2010.0    1.0  4.0          176.0          103.0
             2010-01-05     NaN    NaN  NaN            NaN            NaN
             2010-01-06     NaN    NaN  NaN            NaN            NaN

                             tone      _merge
year   month Date
2010.0 1.0   2010-01-03 -0.020080  right_only
             2010-01-04  0.033242  right_only
             2010-01-05       NaN         NaN
             2010-01-06       NaN         NaN

In [7]:
lag30 = df1.groupby(level=0)['tone'].apply(lambda x: x.shift()
           .rolling(min_periods=1,window=30).mean()).reset_index(
    name='Value_Average_Past_30_days')
lag14 = df1.groupby(level=0)['tone'].apply(lambda x: x.shift()
           .rolling(min_periods=1,window=14).mean()).reset_index(
    name='Value_Average_Past_14_days')
lag7 = df1.groupby(level=0)['tone'].apply(lambda x: x.shift()
           .rolling(min_periods=1,window=7).mean()).reset_index(
    name='Value_Average_Past_7_days')

#### Create a time lagged variable
Each lagged variable will be lagged t-1

In [8]:
lag30['lag_30'] = lag30['Value_Average_Past_30_days'].shift(-1)
lag30.sort_values(by='Date').iloc[500:505]

       year  month       Date  Value_Average_Past_30_days    lag_30
500  2011.0    6.0 2011-06-20                   -0.002266 -0.003178
501  2011.0    6.0 2011-06-21                   -0.003178 -0.003711
502  2011.0    6.0 2011-06-22                   -0.003711 -0.003661
503  2011.0    6.0 2011-06-23                   -0.003661 -0.004018
504  2011.0    6.0 2011-06-24                   -0.004018 -0.002379

In [9]:
lag14['lag_14'] = lag14['Value_Average_Past_14_days'].shift(-1)
lag14.sort_values(by='Date').iloc[500:505]

       year  month       Date  Value_Average_Past_14_days    lag_14
500  2011.0    6.0 2011-06-20                   -0.004227 -0.006065
501  2011.0    6.0 2011-06-21                   -0.006065 -0.007094
502  2011.0    6.0 2011-06-22                   -0.007094 -0.012373
503  2011.0    6.0 2011-06-23                   -0.012373 -0.013099
504  2011.0    6.0 2011-06-24                   -0.013099 -0.009391

In [10]:
lag7['lag_7'] = lag7['Value_Average_Past_7_days'].shift(-1)
lag7.sort_values(by='Date').iloc[500:505]

       year  month       Date  Value_Average_Past_7_days     lag_7
500  2011.0    6.0 2011-06-20                  -0.011883 -0.009394
501  2011.0    6.0 2011-06-21                  -0.009394 -0.012634
502  2011.0    6.0 2011-06-22                  -0.012634 -0.014386
503  2011.0    6.0 2011-06-23                  -0.014386 -0.011127
504  2011.0    6.0 2011-06-24                  -0.011127 -0.002976

### Import Publication Rating data

The publication rating data includes:
   * A dummy if newspaper publication is based in US
   * A dummy if newspaper publication is based in the Middle East (Includes North Africa, Iran, Pakistan, and Afghanistan)
   * A dummy if newspaper is a UK publication
   * A dummy for other
   * A dummy for publications friendly to Assad (Russian, Iran, China, Hezbollah)
   

We will create lagged variable grouped around each of these categories.

In [11]:
# Import Publication Rating Dataset
publication = "/Users/laurieottehenning/Documents/Georgetown Data Science /Capstone/Publication list"
os.chdir(publication)

pub = pd.read_csv('Publication List_categorized.csv')

In [12]:
# List Columns
pub.columns

Index(['Index', 'Assignee', 'Publication', 'US Publication',
       'Middle East (Include North Africa, Turkey, Iran, Afghanistan, Pakistan)',
       'UK Publication', 'Other',
       'Friendly to Assad (Russia, Iran, China, Hezbollah)'],
      dtype='object')

In [13]:
# Drop Columns
pub.drop('Index', axis=1, inplace=True)
pub.drop('Assignee', axis=1, inplace=True)

In [14]:
# Fill in NaN with zeros
pub.fillna(value=0, inplace=True)

In [15]:
# Create new variable with all of the publication values in one variable
def fillval(row):
    if row['US Publication'] == 1:
        return 'US'
    if row['Middle East (Include North Africa, Turkey, Iran, Afghanistan, Pakistan)'] ==1:
        return 'Middle East'
    if row['UK Publication'] ==1:
        return 'UK'
    if row['Other'] ==1:
        return 'Other'
pub['publication origin'] = pub.apply(lambda row: fillval(row),axis=1)

In [16]:
def fillval2(row):
    if row['Friendly to Assad (Russia, Iran, China, Hezbollah)'] ==1:
        return 'Friendly to Assad'
    elif row['Friendly to Assad (Russia, Iran, China, Hezbollah)'] ==0:
        return 'Not Friendly to Assad'
pub['friendly publication to assad'] = pub.apply(lambda row: fillval2(row), axis=1)

In [17]:
pub.head(3)

,Publication,US Publication,"Middle East (Include North Africa, Turkey, Iran, Afghanistan, Pakistan)",UK Publication,Other,"Friendly to Assad (Russia, Iran, China, Hezbollah)",publication origin,friendly publication to assad
0,24*7 News,0.0,1.0,0.0,0.0,0.0,Middle East,Not Friendly to Assad
1,Aberdeen Evening Express,0.0,0.0,1.0,0.0,0.0,UK,Not Friendly to Assad
2,Aberdeen Press And Journal,0.0,0.0,1.0,0.0,0.0,UK,Not Friendly to Assad

#### Merge with the Event, Sentiment data set

In [18]:
pub.rename(columns={'Publication': 'publication'}, inplace=True)
pub_es = es.merge(pub, on='publication', how='left')

In [19]:
pub_es.head(3)

,EventID,Date,EventText,FilterWords,FinalRating,publication,title,length,publicationtype,text,...,NegativeCount,tone,_merge,US Publication,"Middle East (Include North Africa, Turkey, Iran, Afghanistan, Pakistan)",UK Publication,Other,"Friendly to Assad (Russia, Iran, China, Hezbollah)",publication origin,friendly publication to assad
0,NaN,2010-01-03,NaN,NaN,NaN,The Atlanta Journal-Constitution,Five pressing questions to answer in 2010,747.0,Newspapers,Will President Barack Obama regain his momentu...,...,60.0,-0.020080,right_only,1.0,0.0,0.0,0.0,0.0,US,Not Friendly to Assad
1,NaN,2010-01-04,NaN,NaN,NaN,BBC,"Saudi foreign minister says Israel ""spoiled ch...",2196.0,Transcript,Text of report by Saudiowned leading panArab d...,...,103.0,0.033242,right_only,0.0,0.0,1.0,0.0,0.0,UK,Not Friendly to Assad
2,NaN,2010-01-08,NaN,NaN,NaN,BBC,Highlights of Iran parliamentary session.,1123.0,Transcript,Excerpt from report on parliamentary proceedin...,...,42.0,0.016028,right_only,0.0,0.0,1.0,0.0,0.0,UK,Not Friendly to Assad

#### Create lagged variables for Publication Origin

In [20]:
# Group with Publication Origin column
df2 = pub_es.groupby(['publication origin']).apply(lambda x: x.set_index('Date').resample('1D').first())

In [21]:
# Create lag variables
lagpub30 = df2.groupby(level=0)['tone'].apply(lambda x: x.shift()
           .rolling(min_periods=1,window=30).mean()).reset_index(
    name='Publication_Origin_Value_Average_Past_30_days')
lagpub14 = df2.groupby(level=0)['tone'].apply(lambda x: x.shift()
           .rolling(min_periods=1,window=14).mean()).reset_index(
    name='Publication_Origin_Value_Average_Past_14_days')
lagpub7 = df2.groupby(level=0)['tone'].apply(lambda x: x.shift()
           .rolling(min_periods=1,window=7).mean()).reset_index(
    name='Publication_Origin_Value_Average_Past_7_days')

In [22]:
# Create shift the Publication origian average to t-1
lagpub30['lagpub_30'] = lagpub30['Publication_Origin_Value_Average_Past_30_days'].shift(-1)
lagpub30.sort_values(by='Date').iloc[500:505]

,publication origin,Date,Publication_Origin_Value_Average_Past_30_days,lagpub_30
122,Middle East,2010-05-11,-0.008598,-0.008598
5226,UK,2010-05-11,-0.005688,0.012566
2672,Other,2010-05-12,0.013407,0.013407
123,Middle East,2010-05-12,-0.008598,-0.008598
7783,US,2010-05-12,-0.004606,-0.004606

In [23]:
# Create shift the Publication origian average to t-1
lagpub14['lagpub_14'] = lagpub14['Publication_Origin_Value_Average_Past_14_days'].shift(-1)
lagpub14.sort_values(by='Date').iloc[500:505]

,publication origin,Date,Publication_Origin_Value_Average_Past_14_days,lagpub_14
122,Middle East,2010-05-11,0.004298,0.016751
5226,UK,2010-05-11,0.003855,0.035592
2672,Other,2010-05-12,0.013407,0.013407
123,Middle East,2010-05-12,0.016751,0.016751
7783,US,2010-05-12,0.001272,0.001272

In [24]:
# Shift the Publication origin average to t-1
lagpub7['lagpub_7'] = lagpub7['Publication_Origin_Value_Average_Past_7_days'].shift(-1)
lagpub7.sort_values(by='Date').iloc[500:505]

,publication origin,Date,Publication_Origin_Value_Average_Past_7_days,lagpub_7
122,Middle East,2010-05-11,0.002782,0.002782
5226,UK,2010-05-11,NaN,0.067328
2672,Other,2010-05-12,0.013436,0.013436
123,Middle East,2010-05-12,0.002782,NaN
7783,US,2010-05-12,NaN,NaN

In [25]:
pub_es.columns

Index(['EventID', 'Date', 'EventText', 'FilterWords', 'FinalRating',
       'publication', 'title', 'length', 'publicationtype', 'text', 'year',
       'month', 'day', 'PositiveCount', 'NegativeCount', 'tone', '_merge',
       'US Publication',
       'Middle East (Include North Africa, Turkey, Iran, Afghanistan, Pakistan)',
       'UK Publication', 'Other',
       'Friendly to Assad (Russia, Iran, China, Hezbollah)',
       'publication origin', 'friendly publication to assad'],
      dtype='object')

## Merge
#### Merge rolling average with data set

In [26]:
df3 = pub_es[['EventID', 'Date', 'FinalRating', 'publication', 'publication origin']].copy()
# df3 = df3.drop_duplicates('EventID', keep='False')
df3.groupby(['EventID', 'Date']).size().count()

442

In [27]:
t1 = (pd.merge(df3, lag30, on=['Date'], how='left'))

lag14 = lag14[['Date', 'Value_Average_Past_14_days', 'lag_14']].copy()
t2 = (pd.merge(t1, lag14, on=['Date'], how='left'))

lag7 = lag7[['Date', 'Value_Average_Past_7_days', 'lag_7']].copy()
t3 = (pd.merge(t2, lag7, on=['Date'], how='left'))

lagpub30 = lagpub30[['Date', 'Publication_Origin_Value_Average_Past_30_days', 'lagpub_30', 
                     'publication origin']]
t4 = (pd.merge(t3, lagpub30, on=['Date', 'publication origin'], how='left'))

lagpub14 = lagpub14[['Date', 'Publication_Origin_Value_Average_Past_14_days', 'lagpub_14', 
                     'publication origin']]
t5 = (pd.merge(t4, lagpub14, on=['Date', 'publication origin'], how='left'))

lagpub7 = lagpub7[['Date', 'Publication_Origin_Value_Average_Past_7_days', 'lagpub_7', 
                   'publication origin']]
result = (pd.merge(t5, lagpub7, on=['Date', 'publication origin'], how='left'))

In [28]:
result.columns

Index(['EventID', 'Date', 'FinalRating', 'publication', 'publication origin',
       'year', 'month', 'Value_Average_Past_30_days', 'lag_30',
       'Value_Average_Past_14_days', 'lag_14', 'Value_Average_Past_7_days',
       'lag_7', 'Publication_Origin_Value_Average_Past_30_days', 'lagpub_30',
       'Publication_Origin_Value_Average_Past_14_days', 'lagpub_14',
       'Publication_Origin_Value_Average_Past_7_days', 'lagpub_7'],
      dtype='object')

#### Publication Origin

The function <span style="color:blue">merge_pub</span> will reshape the lagpub columns by publication origin to a wide format (there will be a seperate column for each publication origin value). This will be merged back into the original data set.

In [29]:
# Reshape
def merge_pub(pub):
    test = result[['Date', 'publication origin', pub]].copy()
    test2 = pd.pivot_table(test, values=pub, index=['Date'], 
                           columns=['publication origin'])
    test2.rename(columns={'Middle East': 'Middle East '+ pub, 'Other': 'Other '+ pub,
                         'UK': 'UK '+ pub, 'US': 'US '+ pub}, inplace=True)
    return test2
t = merge_pub('lagpub_30')
t2 = merge_pub('lagpub_14')
t3 = merge_pub('lagpub_7')

z = (pd.merge(t, result, right_on=['Date'], left_index=True))
z2 = (pd.merge(t2, z, right_on=['Date'], left_index=True))
final = (pd.merge(t3, z2, right_on=['Date'], left_index=True))
final.columns

Index(['Middle East lagpub_7', 'Other lagpub_7', 'UK lagpub_7', 'US lagpub_7',
       'Middle East lagpub_14', 'Other lagpub_14', 'UK lagpub_14',
       'US lagpub_14', 'Middle East lagpub_30', 'Other lagpub_30',
       'UK lagpub_30', 'US lagpub_30', 'EventID', 'Date', 'FinalRating',
       'publication', 'publication origin', 'year', 'month',
       'Value_Average_Past_30_days', 'lag_30', 'Value_Average_Past_14_days',
       'lag_14', 'Value_Average_Past_7_days', 'lag_7',
       'Publication_Origin_Value_Average_Past_30_days', 'lagpub_30',
       'Publication_Origin_Value_Average_Past_14_days', 'lagpub_14',
       'Publication_Origin_Value_Average_Past_7_days', 'lagpub_7'],
      dtype='object')

### Fill in the NaN values in the Event Data

The Event Ratings have a value from -1 to 3. I need to fill in the days in which no significant event occured. This will serve as our comparison group.

In [30]:
# Fill in NaN with 5
final['FinalRating'].fillna(value=5, inplace=True)

In [31]:
final['FinalRating'].value_counts()

 5.000000    12399
 2.000000      694
 3.000000      665
-1.000000      475
 1.000000      462
 0.000000       93
 1.666667        8
 1.333333        6
Name: FinalRating, dtype: int64

In [32]:
# Round 1.6666 and 1.333 in FinalRating
final.FinalRating = final.FinalRating.round()
final['FinalRating'].value_counts()

 5.0    12399
 2.0      702
 3.0      665
-1.0      475
 1.0      468
 0.0       93
Name: FinalRating, dtype: int64

### Dummy variables

Create a dummy's for:
   * Weekends
   * ???

In [33]:
# Creates string values for days of the week. Use as a check on Weekend Flag. 
final['Day of Week'] = final['Date'].dt.weekday_name

# Create dummy if day of the week is on the weekend
final['Weekend Flag'] = final['Date'].dt.dayofweek

# 0 is Monday, 1 is Tuesday, etc
days = {0:0,1:0,2:0,3:0,4:0,5:1,6:1}

final['Weekend Flag'] = final['Weekend Flag'].apply(lambda x: days[x])

In [34]:
final[['Date', 'Weekend Flag', 'Day of Week']].head(3)

        Date  Weekend Flag Day of Week
0 2010-01-03             1      Sunday
1 2010-01-04             0      Monday
2 2010-01-08             0      Friday

### Get unique at the date level

Our data set will end up with one each day of each month of each year being unique.

In [35]:
final = final.drop_duplicates(subset=['Date'])

final[['Date', 'Weekend Flag', 'Day of Week', 'lag_30', 'lagpub_30', 'UK lagpub_30']
     ].sort_values(by='Date').head(10)

         Date  Weekend Flag Day of Week    lag_30  lagpub_30  UK lagpub_30
0  2010-01-03             1      Sunday -0.020080  -0.020080           NaN
1  2010-01-04             0      Monday  0.006581   0.033242      0.033242
2  2010-01-08             0      Friday  0.009730   0.024635      0.024635
3  2010-01-09             1    Saturday  0.009938   0.010563           NaN
4  2010-01-10             1      Sunday  0.009206   0.006276           NaN
5  2010-01-12             0     Tuesday  0.001288   0.003656      0.003656
7  2010-01-13             0   Wednesday  0.004760   0.013102           NaN
9  2010-01-14             0    Thursday  0.003346  -0.013319           NaN
11 2010-01-15             0      Friday -0.001255  -0.006773     -0.006773
13 2010-01-16             1    Saturday -0.002605  -0.008369     -0.008369

In [36]:
# Keep only neccessary columns
final.columns
final = final[['Date', 'EventID', 'FinalRating', 'Day of Week', 'Weekend Flag', 
       'year', 'month', 'Value_Average_Past_30_days', 'lag_30', 'Value_Average_Past_14_days',
       'lag_14', 'Value_Average_Past_7_days', 'lag_7',
       'Middle East lagpub_7', 'Other lagpub_7', 'UK lagpub_7', 'US lagpub_7',
       'Middle East lagpub_14', 'Other lagpub_14', 'UK lagpub_14',
       'US lagpub_14', 'Middle East lagpub_30', 'Other lagpub_30',
       'UK lagpub_30', 'US lagpub_30']].copy()
final.columns

Index(['Date', 'EventID', 'FinalRating', 'Day of Week', 'Weekend Flag', 'year',
       'month', 'Value_Average_Past_30_days', 'lag_30',
       'Value_Average_Past_14_days', 'lag_14', 'Value_Average_Past_7_days',
       'lag_7', 'Middle East lagpub_7', 'Other lagpub_7', 'UK lagpub_7',
       'US lagpub_7', 'Middle East lagpub_14', 'Other lagpub_14',
       'UK lagpub_14', 'US lagpub_14', 'Middle East lagpub_30',
       'Other lagpub_30', 'UK lagpub_30', 'US lagpub_30'],
      dtype='object')

In [37]:
final.head(10)

,Date,EventID,FinalRating,Day of Week,Weekend Flag,year,month,Value_Average_Past_30_days,lag_30,Value_Average_Past_14_days,...,UK lagpub_7,US lagpub_7,Middle East lagpub_14,Other lagpub_14,UK lagpub_14,US lagpub_14,Middle East lagpub_30,Other lagpub_30,UK lagpub_30,US lagpub_30
0,2010-01-03,NaN,5.0,Sunday,1,2010.0,1.0,NaN,-0.020080,NaN,...,NaN,-0.020080,NaN,NaN,NaN,-0.020080,NaN,NaN,NaN,-0.020080
1,2010-01-04,NaN,5.0,Monday,0,2010.0,1.0,-0.020080,0.006581,-0.020080,...,0.033242,NaN,NaN,NaN,0.033242,NaN,NaN,NaN,0.033242,NaN
2,2010-01-08,NaN,5.0,Friday,0,2010.0,1.0,0.006581,0.009730,0.006581,...,0.024635,NaN,NaN,NaN,0.024635,NaN,NaN,NaN,0.024635,NaN
3,2010-01-09,NaN,5.0,Saturday,1,2010.0,1.0,0.009730,0.009938,0.009730,...,NaN,NaN,0.010563,NaN,NaN,NaN,0.010563,NaN,NaN,NaN
4,2010-01-10,NaN,5.0,Sunday,1,2010.0,1.0,0.009938,0.009206,0.009938,...,NaN,NaN,NaN,0.006276,NaN,NaN,NaN,0.006276,NaN,NaN
5,2010-01-12,NaN,5.0,Tuesday,0,2010.0,1.0,0.009206,0.001288,0.009206,...,-0.011137,NaN,0.006856,NaN,0.003656,NaN,0.006856,NaN,0.003656,NaN
7,2010-01-13,NaN,5.0,Wednesday,0,2010.0,1.0,0.001288,0.004760,0.001288,...,NaN,NaN,0.013102,NaN,NaN,NaN,0.013102,NaN,NaN,NaN
9,2010-01-14,NaN,5.0,Thursday,0,2010.0,1.0,0.004760,0.003346,0.004760,...,NaN,-0.006557,0.012700,NaN,NaN,-0.013319,0.012700,NaN,NaN,-0.013319
11,2010-01-15,NaN,5.0,Friday,0,2010.0,1.0,0.003346,-0.001255,0.003346,...,-0.038182,NaN,NaN,NaN,-0.006773,NaN,NaN,NaN,-0.006773,NaN
13,2010-01-16,NaN,5.0,Saturday,1,2010.0,1.0,-0.001255,-0.002605,-0.001255,...,-0.030371,NaN,NaN,NaN,-0.008369,NaN,NaN,NaN,-0.008369,NaN

In [38]:
# Export to CSV
path = "/Users/laurieottehenning/Documents/Georgetown Data Science /Capstone/Final Data Set"
os.chdir(path)
final.to_csv('Final_Clean_Data.csv')